<!--https://www.tutorialstonight.com/bootstrap-image-gallery-->
<div class='container-fluid'>
    <div class='jumbotron'>
        <h2 class='text-center'>{{pageTitle}}</h2>
        <p class='text-center'>We truly do not know how many galaxies are in our Universe.</p>
    </div>
    <div class='row'>
        <div class = 'col-md-4'>
            <input type = 'text'
                [(ngModel)]='listFilter' />
        </div>
        <div>
            <h4>Filtered By: {{listFilter}}</h4>
        </div>
    </div>
    <div class='d-inline-flex' *ngFor='let galaxy of filteredGalaxies'>
        <div class='col-7' >
            <img class='galaxyImg' [src]='galaxy.galaxyImageUrl' [title]='galaxy.galaxyName' 
            [style.width.px]='imageWidth'
            [style.height.px]='imageHeight'
            [style.border-radius.px]='imageCorner'
            [style.margin.px]='imageMargin'>
            <a [routerLink]="['/galaxies', galaxy.galaxyId]">{{galaxy.galaxyName}}</a>

            <figcaption>{{ galaxy.galaxyName | convertToSpaces : '-'}}</figcaption>
            <figcaption class='caption'>Copyright: {{ galaxy.imageCopyright }}, {{ galaxy.imageDate | date : 'MMM d, y, h:mm:ss a' }}</figcaption>
            <button class='btn btn-primary btn-sm' 
                (click)='toggleDescription()'>
                {{showDescription ? 'Hide' : 'Show'}} Description</button>
            <div class='galaxyDescription' *ngIf='showDescription'>{{ galaxy.imageDescription }}></div>
            <div><gq-star [rating]='galaxy.galaxySize'
                (ratingClicked)='onRatingClicked($event)'>
            </gq-star></div>
        </div>
    </div>
    
</div>
